---
---
@import url(http://fonts.googleapis.com/css?family=Nunito:100,100italic,300italic,300,400,400italic)

// Our variables
$base-font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif
$base-font-size:   14px
$small-font-size:  $base-font-size * 0.875
$base-line-height: 1.5

$spacing-unit:     30px

$text-color:       rgb( 77,  94, 115)
$brand-color:      rgb(118, 194, 175)
$background-color: #fdfdfd

$grey-color:       #828282
$grey-color-light: lighten($grey-color, 40%)
$grey-color-dark:  darken($grey-color, 25%)

@import "base"
@import "layout"
